<div class="card">
    <div class="card-body">
      <h4 class="header-title">Счет</h4>
      <div class="cripto-live mt-5">
        <ul>
          <li>
            <div class="icon b">r</div> RUR<span>{{bill.value | number: '1.2'}}</span>
          </li>
          <li>
            <div class="icon d">u</div> USD<span>{{usd  | number: '1.2'}}</span>
          </li>
          <li>
            <div class="icon e">e</div> EUR<span>{{eur  | number: '1.2'}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
