<div class="login-form-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
      @fade
      class="alert alert-{{message.type}}"
      *ngIf="message.text"
    >
      {{message.text}}
    </div>
    <div class="form-gp auth-form">
      <input
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
      >
      <small
        class="form-text error-msg"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <span *ngIf="form.get('email')['errors']['required']">Email обязателен</span>
        <span *ngIf="form.get('email')['errors']['email']">Email некорректный</span>
      </small>
    </div>
    <div class="form-gp">
      <input
        type="password"
        id="password"
        placeholder="Пароль"
        formControlName="password"
      >
      <small
        class="form-text error-msg"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
        <span *ngIf="form.get('password')['errors']['required']">Пароль обязателен</span>
        <span *ngIf="form.get('password')['errors']['minlength']">Пароль должен быть не менее 6 символов</span>
      </small>
    </div>
    <div class="submit-btn-area">
      <button
        type="submit"
        [disabled]="form.invalid"
      >
        Войти
      </button>
    </div>
    <div class="form-footer text-center mt-5">
      <p class="text-muted">Нет аккаунта? <a [routerLink]="'/registration'">Зарегистрироваться</a></p>
    </div>
  </form>
</div>
